<nav class="nav wrapper">
	<div class="logo">
		<!-- <a href="/"><img src="{{ site.base }}/assets/images/gd1.png" alt="Imágen del sitio" width="50px" height="50px"></a> -->
		<a href="/" class="logo-name"><b>Gero<span style="color: #45808e">dev</span></b></a>
	</div>

	<i class="fas fa-bars"></i>
	<i class="fas fa-times"></i>
	<div class="desktop-nav">
		<ul>
			<li><a href="{{ '/' | prepend: site.baseurl }}">Inicio</a></li>
			{% for page in site.pages %}
				{% if page.title %}
					<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="mobile-nav">
		<a href="{{ '/' | prepend: site.baseurl }}"><p>Inicio</p></a>
		{% for page in site.pages %}
			{% if page.title %}
				<a href="{{ page.url | prepend: site.baseurl }}"><p>{{ page.title }}</p></a>
			{% endif %}
		{% endfor %}
	</div>

</nav>
