<a href="/" class="logo"><span class="secondary-color">
	&lt/</span>GeroDev<span class="secondary-color">&gt</span>
</a>

<nav class="nav">
	<ul>
		{% for page in site.pages %}
			{% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			{% endif %}
		{% endfor %}
		<div class="social">
			<li><a href="https://twitter.com/rosten98" target="_blank"><i class="fab fa-twitter"></i>Twitter</a></li>
			<li><a href="https://github.com/rosten98" target="_blank"><i class="fab fa-github"></i>Github</a></li>
		</div>
	</ul>
	<div class="social">

	</div>
</nav>

{% if page.url == "/" %}
<aside>
	<p>Etiquetas:</p>
	<div class="tags">
		{% for tag in site.data.tags %}
		<span> {{ tag.name }} </span>
		{% endfor %}
	</div>
</aside>
{%endif%}
