<nav class="nav">
	<div class="logo">
		{% for image in site.static_files %}
		  {% if image.path contains 'assets/images/gd1.png' %}
	    		<img src="{{ image.path }}" alt="Imágen del sitio" width="50px" height="50px">
		  {% endif %}
		{% endfor %}


		<a href="/"><b>GeroDev</b></a>
	</div>
	<ul>
		<li><a href="{{ '/' | prepend: site.baseurl }}">Inicio</a></li>
		{% for page in site.pages %}
			{% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
