$font-style: 'Nunito', 'Open Sans', sans-serif;
$content-width: 800px;

$main-dark: hsl(212, 37%, 15%);
$main-soft: hsl(212, 37%, 85%);
$main-light: hsl(212, 37%, 98%);

$accent-green: hsl(90, 39%, 75%);

$accent-yellow: hsl(47, 87%, 55%);
$accent-yellow-sh: hsl(47, 87%, 95%);

$font-color: hsl(0, 0%, 15%);
$font-color-medium: hsl(0, 0%, 25%);

$link-color: hsl(212, 37%, 65%);
$light-grey: #F7F7F7;

// $jumbotron: hsl(212, 37%, 98%);
$jumbotron: white;


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
