$font-style: 'Lato', 'Open Sans', sans-serif;
$content-width: 800px;

$main-dark: #1B2A3B;

$font-color: #1f1f1f;
$font-color-medium: #3a3a3a;


$link-color: #688EB9;
$link-hover: rgba(235, 237, 239, 0.3);

$jumbotron:  #f2f4f4;

$light-grey: #F7F7F7;

$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
