*{
  margin: 0;
  padding: 0;
  font-family: $font-style;
  color: $font-color
}

nav{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 20px 10% 40px 10%;

  ul{
    list-style: none;
    li{
      display: inline-block;
      a{
        margin: 0 20px;
      }
    }
  }
}

a{
  text-decoration: none;
}
a:hover{
  color: $link-color;
}
h1, h2{
  margin: 20px 0;
  text-align: center;
  font-size: 2rem;
}
h3{
  display: inline-block
}

.jumbotron{
  width: 100%;
  background-color: $jumbotron;
  padding: 120px;
  border-radius: 4px;
}

.division-container{
  margin: 30px 0;
  padding: 10px 50px;
  h3{
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px dashed lightgrey;
  }

  ul{
    list-style: none;
    li{
      width: 100%;
      padding: 5px;
    }
    li:hover{
      background-color: $light-grey;
    }
  }
}
div.card span{
  font-weight: normal;
  font-size: 0.8rem;
}
.container{
  margin: 0 10%;
}
.card{
  padding: 40px 20px;
  border-bottom: 1px dashed;
  border-color: lightgrey;
}
.card:hover{
  background-color: $light-grey;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.1);
}
.card h3{
  font-size: 1.5rem;
}
.card-header{

}
.card-content{

}
a.link-to-post{
  color: $font-color
}

footer{
  background-color: $main-dark;
  border-top: 1px solid lightgrey;
  margin-top: 25px;
  padding: 20px 0;
  width: 100%;

  div.container{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    a{
      color: white;
    }
    p{
      color: white;
      display: inline-block
    }
  }
}
