*{
  margin: 0;
  padding: 0;
  font-family: $font-style;
  color: $font-color
}

ul {
  list-style-type: none;
  li{
    display: inline-block;
    a{
      margin: 0 20px;
    }
  }
}

a {
    text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: space-between;

  .mobile-nav{
    display: none;
  }

  .desktop-nav{
    margin: auto 0;
  }

  i.fas{
    display: none;
    padding: 20px;
    font-size: 2em;
    color: $main-dark;
  }

  .logo {
    display: flex;
    align-content: flex-end;
    a.logo-name{
        color: $main-dark;
        margin: auto 10px;
        font-size: 1.3em;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  img{

  }

}

.wrapper {
  padding: 20px 10%;
}

.card-profile {
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1)
}

.projects {
  padding-top: 10em;

  .projects--title {
      margin-bottom: 2em;
  }

  .projects--items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .projects--items_item{
    background: #f1f1f1;
    margin-right: 2em;
    height: 300px;
  }
}
