*{
  margin: 0;
  padding: 0;
  font-family: $font-style;
  color: $font-color
}
html, body{
  min-height: 100%;
  width: 100%;
}

h1, h2, h3, h4{
  color: $font-color;
}

p, span, a{
  color: $font-color-medium;
}

a:hover, a:active, a:focus{
    outline: none;
}

i.fab{
  color: #FFF;
  font-size: 1.4rem;
}

a{
  text-decoration: none;
}
a:hover{
  color: $link-color;
}

hr{
  background-color: $main-soft;
  height: 2px;
  border: none;
  width: 35%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 20px 10%;

  // -webkit-box-shadow: 0px 5px 55px -42px rgba(0,0,0,0.3);
  // -moz-box-shadow: 0px 5px 55px -42px rgba(0,0,0,0.3);
  // box-shadow: 0px 5px 55px -42px rgba(0,0,0,0.4);

  .mobile-nav{
    display: none;
  }

  .desktop-nav{
    margin: auto 0;
  }

  i.fas{
    display: none;
    padding: 20px;
    font-size: 2em;
    color: $main-dark;
  }

  .logo{
    display: flex;
    align-content: flex-end;
    a.logo-name{
      color: $main-dark;
      margin: auto 10px;
    }
  }
  ul{
    list-style: none;
    li{
      display: inline-block;
      a{
        margin: 0 20px;
      }
    }
  }
}

.jumbotron{
  background-color: $jumbotron;
  text-align: center;
  font-weight: 400;
  margin: 0 10%;
  padding-bottom: 40px;
  hr{
    margin: 20px auto;
  }
  b{
    font-size: 2rem;
  }
  p{
    font-size: 1.2rem;
    margin: 40px 0;
  }
}

.container{
  margin: 0px 10%;
  display: grid;
  grid-template-columns: 33% 34% 33%;

  .container-item{
    padding: 10px 0;
    h2{
      // border-bottom: 2px solid $secondary;
      margin-bottom: 5px;
      padding-bottom: 15px;
    }
    hr{
      margin: 0;
      width: 80%;
    }
    ul{
      list-style: none;
      font-size: 1.1rem;
      li{
        width: 80%;
        margin: 5px 0;
        padding: 16px 8px;
      }
      li:hover{
        border-radius: 10px;
        background-color: $main-light;
      }
    }
  }
}


.card{
  margin: 0 10%;
  padding: 40px 20px;
  border-radius: 10px;
  hr{
    margin: 10px 0;
    width: 100%;
  }
  .card-header{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    h3{
      font-size: 1.5rem;
    }
    span{
      font-weight: normal;
      font-size: 0.8rem;
    }
    .card-categories{
      margin: auto 0 auto auto;
      p{
        background-color: $accent-yellow-sh;
        border-radius: 5px;
        display: inline;
        margin-right: 5px;
        padding: 8px;
        text-align: center;
        font-size: .7em;
        color: $accent-yellow;
      }
    }
  }
  .card-content{
    text-align: justify;
    p {
      margin-top: 20px;
    }
    span{
      background-color: $main-light;
      border-radius: 2px;
      color: $main-dark;
      text-decoration: underline;
    }
  }
}
.card:hover{
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.1);
}

.post-title{
  padding: 20px 10%;
  h1{
    margin: 0;
    text-align: left;
    font-size: 4em;
  }
  p{
    margin: 30px 0;
  }
  time{
     font-weight: 300;
     border-bottom: 1px solid;
  }
}

.post-content{
  padding: 0 10%;
  p{
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;
  }
  h2,h3{
    margin: 50px 0 20px 0;
  }
  h2{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
  }
}

.tag-category{
    padding: 10px;
    border-radius: 10px;
    background-color: $light-grey;
}

footer{
  background-color: $main-dark;
  border-top: 1px solid lightgrey;
  margin-top: 55px;
  padding: 30px 10%;
  width: 100%;

  div.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
      color: white;
      margin: 0 20px;
    }
    a:hover{
      text-decoration: underline;
    }
    p{
      color: white;
      display: inline-block
    }
  }
}
