---
layout: default
title: Blog
---

{% for post in site.posts %}
<a href="{{ post.url | prepend: site.baseurl }}" class="link-to-post">
	<div class="card">
		<div class="card-header">
			<div class="card-title">
				<h3>
					{{ post.title }}
					<span class="blog-date">
						<time>{{ post.date | date: "%b %-d, %Y" }}</time>
					</span>
				</h3>
				<hr>
			</div>
			<div class="card-categories">
				{% for post_category in post.categories %}
					<p>{{ post_category }}</p>
				{% endfor %}
			</div>
		</div>
		<div class="card-content">
			<p>
				{{ post.short_description }}
				<span> Abrir lectura.</span>
			</p>
		</div>
	</div>
</a>
{% endfor %}
